.goose{
  text-align:center;
}
body{
  background-color:#fff7e6;
}
.MainHead{
  text-align:center;
}
.title{
  display:flex;
  justify-content:flex-start;
  margin:0px 0px 0px 550px;
  font-family:sans-serif;
  color:#cc5200;
}
.idkOne{
  display:flex;
  justify-content:flex-start;
  margin:0px 600px 0px 550px;
  font-family:sans-serif;
}
.idkTwo{
  display:flex;
  justify-content:flex-start;
  margin:0px 580px 0px 550px;
  font-family:sans-serif;
}
.idkThree{
  display:flex;
  justify-content:flex-start;
  margin:0px 1200px 0px 550px;
  font-family:sans-serif;
}